<section class="what-you-get">
    <div class="container container--what-you-get">
        <ul class="general-list">
            <li class="list-item list-item--grid-text-content">
                <ul class="content-list">
                    <li class="content-item content-item--background-magazine">
                        <h4 class="content-item__title">Creatred to Make The Web Better</h4>
                        <p class="content-item__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
                    </li>
                    <li class="content-item content-item--background-timer">
                        <h4 class="content-item__title">Incredibly Powerful Tool</h4>
                        <p class="content-item__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </li>
                    <li class="content-item content-item--background-flask">
                        <h4 class="content-item__title">Experimental Stuff</h4>
                        <p class="content-item__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </li>
                    <li class="content-item content-item--background-dial">
                        <h4 class="content-item__title">Creatred to Make The Web Better</h4>
                        <p class="content-item__text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
                    </li>
                </ul>
            </li>
            <li class="list-item list-item--grid-title">
                <h3 class="list-item__title">&lt;Here is what you get&gt;</h3>
            </li>
            <li class="list-item list-item--grid-image list-item--no-padding">
                <picture>
                    <source media="(max-width: 480px)" srcset="../img/what-you-get/what-you-get-S.webp" type="image/webp">
                    <source media="(max-width: 480px)" srcset="../img/what-you-get/what-you-get-S.png">
                    <source srcset="../img/what-you-get/what-you-get-L.webp" type="image/webp">
                    <img class="list-item__img" src="../img/what-you-get/what-you-get-L.png" alt="what-you-get" width="700" height="519">
                </picture>
            </li>
        </ul>
    </div>
</section>