.feedback-section{
  background-image:
          linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgba(74, 59, 77, 1)),
          url("../img/people-are-talking-background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 57px;
  @media (min-width: 482px) {
    padding-top: 87px;
  }
  @media (min-width: 993px) {
    padding-top: 108px;
  }
}
.feedback-section__title{
  font-family: $font-Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: $white-color;
  @media (min-width: 482px) {
    font-size: 42px;
  }
  @media (min-width: 993px) {
    font-size: 48px;
    line-height: 50px;
  }
}
.feedback-section__list{
  margin-top: 85px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  row-gap: 45px;
  column-gap: 63px;
}
.feedback-card{
  max-width: 320px;
  align-self: end;
}
.feedback-list__text{
  margin-top: 33px;
  font-family: $font-Lato;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $white-color;
  margin-bottom: 0;
}
.feedback-section__text{
  font-family: $font-Lato;
  font-size: 14px;
  line-height: 21px;
  color: #A291A5;
  max-width: 887px;
  margin: 68px auto 0;
  &::after{
    content: "";
    display: block;
    background: #645766;
    height: 2px;
    width: 80%;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }
}